<div class="wrapper h100 vert horiz">
  <mat-card *ngFor="let l of labs; let i = index">
    <div class="flex horiz">
      <h3 class="grow">{{l.title}}</h3>
      <button mat-button color="primary" [routerLink]="['/lab'+(i+1)]">GO TO LAB</button>
    </div>
    <p [innerHtml]="l.desc"></p>
  </mat-card>
</div>
