<div *ngIf="questions.length" class="flex vert padded">
  <span>{{meta.level}}</span>

    <mat-card *ngFor="let q of questions; let qi=index">
      <div class="flex vert start">
        <h3>{{q?.title}}</h3>
        <mat-radio-group [ngModel]="q.selectedAnswer" (ngModelChange)="updateTotal($event,qi,i)" *ngIf="q.options.length">
          <mat-radio-button class="padded marged" *ngFor="let o of q.options; let i=index" [value]="q.values[i]">
            <span>{{o}} ({{q.values[i]}})</span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card>
    <div class="flex vert">
      <h3 *ngIf="chartEnabled">Total: {{meta.total}}</h3>
      <ngx-charts-bar-vertical [view]="view" 
      *ngIf="meta.data.length && chartEnabled" 
      [scheme]="colorScheme" 
      [gradient]="gradient"
      [xAxis]="showXAxis" 
      [yAxis]="showYAxis" 
      [showXAxisLabel]="showXAxisLabel" 
      [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" [results]="meta.data">
      </ngx-charts-bar-vertical>
    </div>
</div>
