<mat-tab-group>
  <mat-tab label="Опитування">
    <div class="container">
        <ai-question-block (onBarChange)="update()" [questions]="blocks[i]" [meta]="metas[i]" [chartEnabled]="chartEnabled" *ngFor="let b of blocks; let i=index">
          </ai-question-block>
          <div class="flex horiz just-center padded">
            <button color="primary" class="padded" mat-raised-button (click)="results()">ПОКАЗАТИ РЕЗУЛЬТАТИ</button>
            <button color="warn" class="padded" mat-raised-button (click)="restart()">RESTART</button>
          </div>
    </div>
  </mat-tab>
  <mat-tab label="Результати">
      <div class="container">
          <ngx-charts-bar-vertical [view]="view" 
          *ngIf="chartEnabled" 
          [scheme]="colorScheme" 
          [gradient]="gradient"
          [xAxis]="showXAxis" 
          [yAxis]="showYAxis" 
          [showXAxisLabel]="showXAxisLabel" 
          [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" 
          [results]="typeToScore">
          </ngx-charts-bar-vertical>
      </div>
  </mat-tab>
</mat-tab-group>
