@import '../scss/colors.scss';
.drawer-header {
  padding: 1rem;
}

.drawer {
  min-width: 300px;
  button {
    .menu-item {
      padding-left: 1rem;
      span {
        padding-left: .5rem;
      }
    }
    &.active-link {
      background: $color-primary;
      color: $color-white;
    }
  }
}

.content {
  height: calc(100% - 64px)
}
