<div class="wrapper h100 flex horiz">
  <div class="content">
    <!-- TODO: ASK QUESTIONS -->
    <!-- TODO: Show results -->


    <div class="flex horiz">
      <div class="flex vert">
        <div class="padded">
          <div class="flex vert start">

            <h3>Рух</h3>
            <img [src]="'assets/lab1/motion.png'" alt="">
            <mat-radio-group [(ngModel)]="motion" class="padded">

              <mat-radio-button [value]="4">
                <span>A</span>
              </mat-radio-button>
              <mat-radio-button [value]="8">
                <span>B</span>

              </mat-radio-button>
              <mat-radio-button [value]="2">
                <span>C</span>

              </mat-radio-button>
              <mat-radio-button [value]="10">
                <span>D</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>


          <div class="flex vert start">

            <h3>Спокій</h3>
            <img [src]="'assets/lab1/calm.png'" alt="">
            <mat-radio-group [(ngModel)]="calm" class="padded">
              <mat-radio-button [value]="10">
                <span>A</span>
              </mat-radio-button>
              <mat-radio-button [value]="8">
                <span>B</span>
              </mat-radio-button>
              <mat-radio-button [value]="2">
                <span>C</span>
              </mat-radio-button>
              <mat-radio-button [value]="4">
                <span>D</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

      </div>

      <div class="flex vert just-center">

        <div class="flex vert start">

          <h3>Впевненість</h3>
          <img [src]="'assets/lab1/certain.png'" alt="">

          <mat-radio-group [(ngModel)]="certain" class="padded">


            <mat-radio-button [value]="10">
              <span>A</span>
            </mat-radio-button>

            <mat-radio-button [value]="8">
              <span>B</span>
            </mat-radio-button>
            <mat-radio-button [value]="6">
              <span>C</span>
            </mat-radio-button>

            <mat-radio-button [value]="2">
              <span>D</span>
            </mat-radio-button>

          </mat-radio-group>
        </div>

        <div class="flex vert start">

          <h3>Невпевненість</h3>
          <img [src]="'assets/lab1/not_certain.png'" alt="">

          <mat-radio-group [(ngModel)]="notCertain" class="padded">
            <mat-radio-button [value]="10">
              <span>A</span>
            </mat-radio-button>
            <mat-radio-button [value]="8">
              <span>B</span>
            </mat-radio-button>
            <mat-radio-button [value]="2">
              <span>C</span>
            </mat-radio-button>
            <mat-radio-button [value]="6">
              <span>D</span>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="padded flex vert end">
      <button mat-raised-button color="primary" class="submit" (click)="reset()">ОЧИСТИТИ/button></button>
      <button mat-raised-button class="submit" (click)="cumputeResults()">ДІЗНАТИСЯ РЕЗУЛЬТАТ</button>
    </div>

    <div *ngIf="score" class="results flex vert">
      <h3>Кількість очок: {{score}}</h3>
      <p [innerHtml]="results"></p>
    </div>


  </div>
</div>
